@import 'normalize.css';

@font-face {
    font-family: "ProximaNova";
    src: url(//lf16-tiktok-common.ttwstatic.com/obj/tiktok-web-common-sg/falcon/tiktok_fonts/Proxima-Nova-Bold.woff2) format("woff2"),
        url(//lf16-tiktok-common.ttwstatic.com/obj/tiktok-web-common-sg/falcon/tiktok_fonts/Proxima-Nova-Bold.woff) format("woff"),
        url(//lf16-tiktok-common.ttwstatic.com/obj/tiktok-web-common-sg/falcon/tiktok_fonts/Proxima-Nova-Bold.otf) format("opentype");
    font-weight: 600;
    font-style: normal;
}

:root {
    --primary-color: #fe2c55;
    --balck: #000;
    --white: #fff;
    --text-color: #161823;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: ProximaNova;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed; // tối ưu hiện thị font nhanh nhất
    color: var(--text-color);

}

button {
    cursor: pointer;
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}


a[href] {
    color: var(--text-color);
    text-decoration: none;
}

li {
    list-style: none;
}

// Custom tippy tooltip
body {
    .tippy-box {
        background-color: rgba(84, 84, 84, 0.92);
        border-radius: 8px;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 2.2rem;

        .tippy-arrow {
            color: rgba(84, 84, 84, 0.92);
        }
        .tippy-content{
            padding: 8px 9px;
        }
    }
}